<section class="home">
  {{#each category in model}}
    <div class="col-sm-3 well home-category">
      <h4>
        {{#link-to "products" category}}
          {{category.name}}
        {{/link-to}}
      </h4>
    </div>
  {{/each}}
</section>
